<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- IMPORTANTE! RECORDAR CAMBIAR CADENA DE CONEXION A BASE DE DATOS DE PRODUCCIÓN -->
    <!--<add name="TrylogycContext" connectionString="server=W7SERVER;User ID=sa;password=7Ry1ogyc;Integrated Security=SSPI;database=Trylogyc" providerName="System.Data.SqlClient" />-->
    <!--<add name="TrylogycContext" connectionString="server=localhost;User ID=w1181780_suncha;password=doDAvawi82;Integrated Security=SSPI;database=w1181780_suncha" providerName="System.Data.SqlClient" />-->
    <!--<add name="TrylogycContext" connectionString="server=W7SERVER;User ID=sa;password=7Ry1ogyc;Persist Security Info=False;database=Trylogyc" providerName="System.Data.SqlClient"/>-->
    <add name="TrylogycContext" connectionString="data source=DESKTOP-47G94IE\SQLEXPRESS;
   initial catalog=Trylogyc;persist security info=True; 
   Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="5"/>
    <customErrors mode="Off"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
    <!--compilation debug="true" strict="false" explicit="true" targetFramework="4.0" /-->
    <!--httpRuntime /-->
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <!--dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly-->
      <!--dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly-->
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <!--dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0" />
      </dependentAssembly-->
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <!--Comentar Lineas 70 a 84 para deshabilitar redirección segura con SSL/ https-->
    <!--rewrite>
      <rules>
        <clear />
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
           <add input="{HTTPS}" pattern="off" ignoreCase="true" />
           <add input="{REQUEST_URI}" negate="true" pattern="\w+(?=int\b)" ignoreCase="true" />
           <add input="{REQUEST_URI}" negate="true" pattern="^error\.aspx$" ignoreCase="true" />
           <add input="{REQUEST_URI}" negate="true" pattern="^showpdf\.aspx$" ignoreCase="true" />        
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite-->
    <!--//Fin Comentar Lineas 70 a 84 para deshabilitar redirección segura con SSL/ https-->
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <!--Datos Conexion Sunchales -->
    <!--add key="ftpAddress" value="ftp://200.32.52.248/PDF/"/-->
    <!--add key="ftpUser" value="ftpUser"/-->
    <!--add key="ftpPassWord" value="F4cth893"/-->
    <!--add key="ftpAddress" value="ftp://ftp.w1181780.ferozo.com/public_html/PDF/" /-->
    <!--add key="ftpUser" value="w1181780@w1181780.ferozo.com" /-->
    <!--add key="ftpPassWord" value="RUdilisu40" /-->
    <add key="ftpAddress" value=""/>
    <add key="ftpUser" value=""/>
    <add key="ftpPassWord" value=""/>
    
    <add key="email" value="marceloivancich@gmail.com"/>
    <add key="password" value="mmi84921"/>
    <add key="site" value="Auto Consulta Cooperativa Agua Sunchales"/>
    <add key="host" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="usedefaultcredentials" value="true"/>
    <add key="enablessl" value="true"/>
    <!-- Datos conexion local-->
    <!--add key="ftpAddress" value="" />
    <add key="ftpUser" value="w1181780@w1181780.ferozo.com" />
    <add key="ftpPassWord" value="RUdilisu40" />
    <add key="email" value="info@trylogyc.com.ar" />
    <add key="password" value="Trylo123789" />
    <add key="site" value="Auto Consulta Cooperativa Agua Sunchales" />
    <add key="host" value="mail.trylogyc.com.ar" />
    <add key="port" value="587" />
    <add key="usedefaultcredentials" value="true" />
    <add key="enablessl" value="false" /-->
  </appSettings>
  <!-->system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom-->
</configuration>